*{
    margin: 0;
    padding: 0;
}
*{
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
}


/* nav section start */
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    width:100%;
    height: 130px;
}
.nav-icon {
    display: flex;
    /* justify-content: space-evenly;    */
}
.nav-icon img{
 width: 86.041px;
height: 40px;
padding: 10px;
}
.nav-icon h2{
    font-size: 45px;
}
.nav-content ul {
  display: flex;
  justify-content:center;
  align-items: center;
  list-style: none;
  /* padding: 10px; */
  
}
.nav-content li{
margin: 10px;
}
.btn{
 width: 200px;
height: 40px;
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
border: none;
display: flex;
justify-content: center;
align-items: center;
padding-right: 10px;
}
.logo img{
width: 30px;
height: 20px;
padding-left: 10px;
}


/* banner section */
.banner-container{
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 550px;

}
.banner-content{
    background-image: url(./images/Group\ 14.png);
    width: 45%;
    padding-top: 50px;
   padding-left: 100px;

}
.banner-title{
color: #0B0223;
/* text-align: center; */
font-size: 48px;
font-weight: 600;
text-transform: uppercase;
margin-top: 100px;
}
.banner-bold{
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 95px;
font-weight: 800;
}
.banner-description{
color: #534C64;
font-size: 20px;
font-weight: 500;
text-transform: lowercase;
margin-bottom: 20px;

}
.left-btn{
color: #FFF;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
border-radius: 48px;
border: none;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
padding: 15px 35px;
gap: 10px;
}
.right-btn{
    color: #FFF;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
border-radius: 48px;
background: #4EC5F7;
border: none;
padding: 15px 40px;
}
.banner-photo img{
width: 100%;
height: 550px;
}


/* game section */

.game-container{
    width: 85%;
    height: 500px;
}
.game-title{
color: #0B0223;
text-align: center;
font-size: 48px;
font-weight: 700;
margin-top: 5rem;
}
.game-description{
color: #534C64;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
padding-bottom: 2rem;
}

.games-photo{
    display: flex;
    justify-content:space-evenly;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.games-photo img{
    width: 310px;
    height: 300px;
    border-radius: 16px;
    margin:10px ;
    

}

/* play section */
.play-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
    min-height: 700px;

}
.play-content{
    margin-bottom: 7rem;
    width: 45%;
}
.play-title{
text-align: right;
font-size: 48px;
font-weight: 700;
line-height: 60px;
padding-bottom: 10px;
}
.play-description{
color: #534C64;
text-align: right ;
font-size: 15px;
font-weight: 400;
line-height: 20px; 
padding-left: 3rem;
}

.play-photo img{
    border-radius: 8px;
    width: 400px;
    height: 400px;
    position: relative;
   right: -50px;
    margin-top: 80px;
}
.small-pic img{
    border-radius: 8px;
    border: 1px  ;
    background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat; 
    height: 240px;
    width: 220px;
    position: relative;
    top: -250px;
    left:-80px ;

}

/* game list  */
.game-list-container{
display:flex ;
justify-content: center;
flex-wrap: wrap;
margin-bottom: 10rem;
margin-left: 8rem;
width: 1350px;
min-height: 80px;
background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);


}
/* .game-list title{
margin-left: 10px;
} */
.list-game{
    display: flex;
    align-items: center;
    border-radius: 50px;
     background: #FFF;
   width: 270px;
    height:90px;
    /* margin-bottom: 100px; */
   
}
.list-game img{
    width: 60px;
   height: 60px;
   border-radius: 50px;
   padding-right: 10px;
   /* margin-bottom: 100px; */
}
.list-game:hover{
    color: #F948B2;
    border-radius: 1px solid #F948B2 ;
}

/* footer section */

.footer-container{
    height: 500px;
    width: 100%;
    background: #0B0223;
}
.footer-content{
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
    padding-top: 6rem;
}
.footer-list ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 3rem;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    padding-top: 4rem;

}
.footer-icon  {
/* text-align: center; */
font-size: 2rem;
justify-content: center;
display: flex;
gap: 1.5rem;
color: white;
padding-top: 3rem;
}
/* .fa-facebook, .fa-youtube{
    background-color: white;
} */
.footer-bottom ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 1rem;
   color: #FFFFFF ;
   padding-top: 3rem;
}
.last-line{
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
font-size: 16px;
font-weight: 500;
padding-top: 2rem;
}